[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"testing.mysqld" = "*"
flask = "*"
flask-unittest = "*"
flask-cors = "*"
flask-mysql = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
